*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    height: 100px; 
    background-color: #162E68;
    color: white;
   
}
.header h1{
    padding-top: 15px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: normal;
}
.header h2{
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    padding-top: 45px;
}
.grupos, .gols{
    margin: 0 auto;
    width: 60%; /* Definindo a largura total da página*/
    background-color: whitesmoke;
    font-size: 14px;
}
table{
    width: 100%;
    border-collapse: collapse;
    padding-top: 15px;
}
table, th, td, tr{
    padding: 5px;
}
th, td{
    border-top: 0.5px solid #70757a;
}
th{
    color: #70757a;
    font-weight: normal;
    border-top: none;
}
.img-club{
    width: 24px;
    height: 24px;
}
tr{
    text-align: center;
}
.grupos h3{
    padding-top: 20px;
    padding-left: 20px;
}
body{
    background-color: rgb(240, 240, 240)
}
.left{
    text-align: left;
}
.b1-blue{
    border-left: #4285f4 3px solid;
}
.b1-orange{
    border-left: #FA7B17 3px solid;
}
.img-jogador{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.w30{
    width: 30px;
}